<h1>Eventos</h1>

<div class="form-inline">
  <div class="input-group mb-3">
    <label for="" class="mr-2"></label>
    <input
      type="text"
      class="form-control"
      placeholder="Busque por um evento ou cidade..."
      [(ngModel)]="filtrolista"
    />
    <!-- <button class="btn btn-outline-success" type="button" id="button-addon2">
      Buscar
    </button> -->
  </div>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Participantes</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosfiltrados" class="table-striped">
      <td>{{ evento.eventoID }}</td>
      <td>
        <img
          *ngIf="showImg"
          src="assets/{{ evento.imagemUrl }}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        />
      </td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.quantidadeSuportada }}</td>
      <td>{{ evento.lote }}</td>
      <td>
        <div
          class="btn-group btn-group-sm"
          role="group"
          aria-label="Basic mixed styles example"
        >
          <button type="button" class="btn btn-danger">APAGAR</button>
          <button type="button" class="btn btn-warning">EDITAR</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<h4 *ngIf="!eventos" class="text-center">
  Nenhum evento disponível no momento!
</h4>
<p><b>Referência de dados json: </b></p>
{{ eventos[0] | json }}
